@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.connexion-page {
    @include m.flex-center;
    height: 100%;

    .card {
        @include m.card;
        width: 20%;

        h1 {
            text-align: center;
            margin-bottom: v.$spacer;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 0.75rem;
            }

            button {
                width: 100%;
            }
        }

        .muted {
            margin-top: 1rem;
            font-size: 0.9rem;
            color: v.$color-muted;
            text-align: center;
        }
    }
}