@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.users-page {
    padding: 2rem;
    display: flex;
    justify-content: center;

    .card {
        @include m.card;
        width: 600px;

        .row.between {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: v.$spacer;

            button {
                background: v.$color-danger;
                padding: 0.5rem 1rem;
            }
        }

        ul.list {
            list-style: none;
            margin-top: v.$spacer;

            li {
                padding: 0.6rem 0;
                border-bottom: 1px solid #1f2937;

                strong {
                    color: v.$color-accent;
                }
            }
        }
    }
}