@use '../abstracts/variables' as v;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    background: v.$color-card;
    padding: 1.25rem;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}